<html>
<body>
<div class="container1">
	<div class="left-half2">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
  				<h1 class="display-4">Are you fond of cooking?</h1>
  				<p class="lead">Make use of your cooking skills and earn from home . </p>

  				<p>Earn money sharing your home cooked
            food or skills or knowledge with people
            around you. </p>
  				<a class="btn btn-primary btn-lg" href="#" role="button">Contact us </a>
    		</div>
    	</div>
    </div>
  		
  	<div class="right-half2">
  		
  	</div>
    
</div>	

</body>


  
  <!-- Copyright -->

<!-- Footer -->
</html>

