<html>
<body>
<div class="container1">
	<div class="left-half1">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
  				<h1 class="display-4">Your CHEF</h1>
  				<p class="lead">COULD BE RIGHT NEXT DOOR!</p>
  				<hr class="my-4">
  				<p><b>HomeMade</b> is a whole new way to order homemade food made by your neighbor, straight to your door. Discover local home-based cooks in your community, browse their unique menus, and let them handle the cooking for you!</p>
  				<a class="btn btn-primary btn-md" href="#" role="button">Contact us </a>
    		</div>
    	</div>
    </div>
  		
  
      <div class="right-half1">
      
    </div>
</div>	

</body>


  
  <!-- Copyright -->

<!-- Footer -->
</html>

