<% if customer_signed_in? %>
    <p><%= current_user[:longitude] %></p>

<% elsif chef_signed_in? %>
    <p> <%=  current_user[:longitude] %> </p>

<% else %>
	<h1> HOME MADE FOOD DELIVERY </h1>
<%end%>


