<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear Subscriber, <%= @user.email %></h1>
    <p>
      Your subscription is ended , if you like our service please resubscribe 
    </p>
  </body>
</html>