
<div class=''>
 <%= notification.actor.first_name %> has Subscribed 
  <%= link_to 'subscription#'+ notification.second_target.id.to_s,main_app.subscription_path(notification.second_target) %>
</div>

