 	  <div class="box">

	 	<h4>
	 	subscription start date : <%= @customer_subs.created_at%> 
	 	<% if @status=="ongoing" %>
	 		 <span class="ongoing">status: <%=@status %> </span>
	 	<% else %>
	 		 <span class="expired">status: <%=@status %> </span></h2>
	 	<% end %>
	</h4>

	</div>
