<div class="error">
  <h1 class="display-4">404</h1>
  <p class="lead">We could not find the page you were looking for!!</p>

  <p class="lead">
  	<%= button_to "Home", { :action => "index",:controller=> "visitors" }, :method => :get , :class=>"btn btn-primary btn-lg"  %>
  	
  </p>
</div>