<% if @searched_subscriptions.empty? %>
		<h1 class="no_subscriptions"> No Subscriptions Yet!! </h1>

<% end %>

<% @searched_subscriptions.reverse_each do |s| %>
	<% if s.active!=false%>
	<div class="box">

		<% if s.lunch.empty? %>
    		<h4>
    		<span class= "order" >  Breakfast and Dinner Subscription 
    		</span>

    		</h4>
    		<% if s.food_type==1 %>
    			<img class="non-veg-icon" src="https://img.icons8.com/color/20/000000/non-vegetarian-food-symbol.png"/> 
    		<% else %>
    			<img class="non-veg-icon" src="https://img.icons8.com/color/20/000000/vegetarian-food-symbol.png"/>
    		<% end %>

    	<% else %>
			<h4><span class= "order" >  Breakfast Lunch and Dinner Subscription </span>
    		</h4>
    		<% if s.food_type==1 %>
    			<img class="non-veg-icon" src="https://img.icons8.com/color/20/000000/non-vegetarian-food-symbol.png"/> 
    		<% else %>
    			<img class="non-veg-icon" src="https://img.icons8.com/color/20/000000/vegetarian-food-symbol.png"/> 
    		<% end %>
    	<% end %>

  
		<h4> ₹ <%=s.total_price %> <span class="date" >for 1 week subscription </span></h4>
		<br>
	
		<div class="outer">
			<div class="inner">
			<%= link_to 'Menu',menu_subscriptions_path(s) , class: "btn btn-md btn-success"  %>
			</div>
			<div class="inner">
				<%= button_to 'Subscribe', subscribe_customer_subscriptions_path(subs_id: s.id, customer_id:  current_customer.id) ,  class: "btn btn-md btn-primary" %>
			</div>
		</div>		
	</div>
	<% end %>
	
<% end %>
