<h1 class="heading_"> Create Your Subscription </h1>

<div class="div_top">
	<div class="div_left">
		
		<div class= "div_inside">
			Breakfast and Dinner
		</div>

		<div class="div_text">

			<ul>
					<br>
      			
        			<div class='tick1'>&#10004;</div> Show your cooking skills <br>
      			
        			<div class='tick2'>&#10004;</div> Earn money from Home <br>

        			<div class='tick1'>&#10004;</div> Add breakfast and Dinner menu  <br>

        			<div class='tick2'>&#10004;</div> Add images of your dishes <br>
        			
        			<div class='tick1'>&#10004;</div> Start Earning <br>
    		</ul>

    		<div class='submit_'>
    			<%= button_to "Create ", new_breakfast_dinner_subscriptions_path ,  class: "btn btn-primary btn-block btn-md" , :style => "border-radius: 25px;" , method: :get %>

    		</div>

		</div>
	</div>
	<div class="div_right">
	
		<div class= "div_inside">
			Breakfast , Lunch and Dinner
		</div>

		<div class="div_text">

			<ul>
				<br>
      			
        <div class='tick1'>&#10004;</div> Show your cooking skills <br>
      			
        <div class='tick2'>&#10004;</div> Earn money from Home <br>
      			
        <div class='tick1'>&#10004;</div> Add breakfast , lunch and dinner menu <br>
        		
        <div class='tick2'>&#10004;</div> Add images of your dishes <br>
      			
        <div class='tick1'>&#10004;</div> Start Earning <br>
      </ul>

      <div class='submit_'>
    		<%= button_to "Create ",new_subscription_path ,  class: "btn btn-primary btn-block btn-md" , :style => "border-radius: 25px;" , method: :get %>

    	</div>  	
		</div>
	</div>
</div>


