/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";


.edit_container{

   background-color: transparent;  
   position: absolute;
   left: 30%;
   right: 30%;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 2%;
   padding-bottom: 2%;

}
 .signup_container{

   background-color: white;
   width: 40%;
   height: auto;
   position: absolute;
   left: 30%;
   right: 30%;
   padding: 5%;
   margin: auto;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login_container{
   
   background-color: white;
   width: 30%;
   height: 65%;
   position: absolute;
   padding: 20px;
   left: 35%;
   right: 35%;
   top: 22.5%;
   bottom: 22.5%;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 2%;
   padding-bottom: 2%;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.14);
}


.image_edit{

   width: 150px;
   height: 160px;
   float:center;
   margin:20px;
   border-radius:200px;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.14);

}

.are_you_chef{ 
   
  margin: 20px;

}